<div class="container-fluid">
    <div class="jumbotron text-center">
        <h1 class="display-4">Corona Virus Tracker Application</h1>
        <hr>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam qui cupiditate corporis ut
            doloribus explicabo quod totam repellendus, aut recusandae repudiandae. Hic, sit consectetur. Aperiam, eaque
            quod. Cupiditate, rem ullam?.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem autem ullam sunt officiis porro hic
            ipsam
            nihil minus ab dolorem, unde ad corporis quas! Eos a neque qui atque culpa?
        </p>
    </div>
</div>