<div class="container-fluid">
    <div class="jumbotron text-center">
        <h1 class="display-4 p-3">Corona Virus Tracker Application</h1>
        <hr>

        <app-dashboard-card [totalConfirmed]='totalConfirmed' [totalActive]='totalActive' [totalDeaths]='totalDeaths'
            [totalRecovered]='totalRecovered'>
        </app-dashboard-card>

        <!--<google-chart [data]="pieChart"></google-chart>
        <google-chart [data]="columnChart"></google-chart>-->


        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <google-chart [data]="pieChart"></google-chart>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <google-chart [data]="columnChart"></google-chart>
            </div>
        </div>


    </div>
</div>