<div class="container-fluid">
    <div class="jumbotron text-center">
        <h1 class="display-4 p-3">Corona Virus Tracker Application by Countries</h1>
        <hr class="my-4">
        <p class="lead">Select a country to see personalised data</p>

        <mat-form-field appearance="fill" class="country-selector">
            <mat-label>Select Country</mat-label>
            <mat-select #input (selectionChange)='updateValues(input.value)'>
                <mat-option value="{{country}}" *ngFor='let country of countries'>{{country}}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <app-dashboard-card [totalConfirmed]='totalConfirmed' [totalActive]='totalActive' [totalDeaths]='totalDeaths'
            [totalRecovered]='totalRecovered'>
        </app-dashboard-card>

    </div>
</div>