<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card col p-3 m-3">
                    <div class="ui statistic">
                        <div class="value">{{totalConfirmed}}</div>
                        <div class="label"><h4>Total Confirmed</h4></div>
                      </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card col p-3 m-3">
                    <div class="ui statistic">
                        <div class="value">{{totalActive}}</div>
                        <div class="label"><h4>Total Active</h4></div>
                      </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card col p-3 m-3">
                    <div class="ui statistic">
                        <div class="value">{{totalDeaths}}</div>
                        <div class="label"><h4>Total Deaths</h4></div>
                      </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card col p-3 m-3">
                    <div class="ui statistic">
                        <div class="value">{{totalRecovered}}</div>
                        <div class="label"><h4>Total Recovered</h4></div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>